@model Photo

@{
    var photo = Model;
}

<div class="">
    <div class="card" style="width: 18rem; height: 25rem;">
        <img src="@photo.Image" class="card-img-top" alt="Photo">
        <div class="card-body">
            <h5 class="card-title  ms-lg-3"><a href="@Url.Action("Detail", "Photo", new { Id = photo.Id })">@photo.Title</a></h5>
            <p class="card-text  ms-lg-3">@photo.Description</p>
            @*<h6 class="ms-lg-3">@photo.Category!.Title</h6>*@
            @*<div class="text-center">
                <a href="@Url.Action("Update", "Photo", new { Id = photo.Id})">Edit</a>
                <form asp-action="Delete" asp-controller="Photo" asp-route-id="@pizza.Id">
                    @Html.AntiForgeryToken()
                    <button type="submit">Delete</button>
                </form>
            </div>*@
        </div>
    </div>
</div>

