@model Photo

@{
    var photo = Model;
}

<div class="card" style="width: 18rem; height: 25rem;">
    <img src="@photo.ImgSrc" class="card-img-top" alt="Photo">
    <div class="card-body">
        <h5 class="card-title  ms-lg-3"><a href="@Url.Action("Detail", "Photo", new { Id = photo.Id })">@photo.Title</a></h5>
        <p class="card-text  ms-lg-3">@photo.Description</p>

        <h6>Categories:</h6>
        <div>
            @foreach (var category in photo.Categories!)
            {
                <span>@category.Title</span>
            }
        </div>
    </div>
</div>
