@model Photo[]
@{
    ViewData["Title"] = "My Photos";
    var photos = Model;
}

@if (User.IsInRole("Admin"))
{
    <div class="pad">
        <a href="@Url.Action("Create", "Photo")">New photo</a>
    </div>
}


<h1 class="text-center text-danger">Foto Presenti</h1>



<div class="text-center pb-3">
    <a href="@Url.Action("Create", "Photo")">Aggiungi Nuova Foto</a>
</div>



@if (photos.Length is 0)
{
    <p>No post to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Visible</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < photos.Length; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="@((i == 0) ? "true" : "")" aria-label="Slide @i"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < photos.Length; i++)
                    {
                        <div class="carousel-item @((i == 0) ? "active" : "")">
                            <img src="@photos[i].Image" class="d-block w-100" alt="@photos[i].Title">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@photos[i].Title</h5>
                                <p>@photos[i].Description</p>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            @foreach (var photo in photos)
            {
                @await Html.PartialAsync("_photoRow", photo)
                ;
            }
        </tbody>
    </table>
}
